#centered {
  margin: 0 auto;
  color: #333;
  font-family: Futura; 
  text-align: center;
  position: relative;
}

#toptext {
  font-size: 6vw;
  margin-top: 5vw;
  margin-bottom: 7vw;
}

#subtext {
  font-size:3vw;
  margin-bottom: 5vw;
}

#buttondiv {
  margin: 0 auto;
}

#reveal {
  display: none;
  z-index: 2;
  position: relative;
}

#glasses {
  z-index: 4;
  position: absolute;
  width: 800px;
  height: 300px; 
  left: 50%;
  margin: 0 0 0 -400px;
  position: absolute;
}

#glass {
  animation:zoomIn 10s linear infinite alternate-reverse;
  background-image:url(glass.jpg);
  background-size:cover;
  opacity:.3;
  z-index: 3;
  width: 700px;
  height: 260px;
  left: 50%;
  margin: 18px 0 0 -350px;
  position: absolute;
}

@keyframes zoomIn {
  0% {
    transform:scale(1);
  }
  100% {
    transform:scale(1.14);
  }
}

#button1 {
  margin: 0 auto;
  background: #3498db;
  width: 75%;
  max-width: 500px;
  padding: 0.25vw 0;
  border-radius: 0.5vw;
  margin-bottom: 4vw;
}

#button2 {
  margin: 0 auto;
  background: #3498db;
  width: 75%;
  max-width: 500px;
  padding: 0.15vw 0;
  border-radius: 0.5vw;
}

.button p {
  font-family: 'Futura';
  text-align: center;
  text-transform: uppercase;
  font-size: xx-large;
  color: #FFF;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.button:hover {
  cursor: pointer;
}
